<!DOCTYPE html>
<html>
  <head>
    <title><%= Mi proyecto %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= Enlace %></h1>
    <p>https://tarce.onrender.com/<%= title %></p>
  </body>
</html>
