<!DOCTYPE html>
<html>
  <head>
    <title><%= Mi proyecto %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= Enlace : https://tarce.onrender.com %></h1>
  </body>
</html>
